/* ========= Type Selectors ========= */
Screen {
    layout: vertical;
}

/* HeaderIcon { */
/*     width: auto; */
/* } */
/**/
/* HeaderTitle { */
/*     content-align: center middle; */
/*     text-align: center; */
/*     height: 100%; */
/* } */


/* ========= ID Selectors (id='widget_instance') ========= */

/* Header zone widgets */

#header-zone {
    height: 6;
    /* margin-bottom: 1; */
    margin: 1 3 0 3;
}

#logo-title {
    border: none;
    width: 25%;
    content-align: center middle;
    text-align: center;
}

#conn-status {
    border: none;
    content-align: left middle;
    width: 25%;
}

#action-log {
    width: 50%;
}

/* Main app widgets */

#main-zone {
    height: 1fr;
    margin: 0 3 1 3;
}

#loaded-models {
    width: 25%;
}

#downloaded-models {
    width: 25%;
}

#context-pane {
    width: 50%;
}


/*#models_table {
/*    height: 100%;
/*    border: solid green;
/*}

/*#main_menu {
/*    width: 30;
/*}


/* ========= Class Selectors ========= */
.box {
    border: solid $secondary;
    content-align: center middle;
    height: 100%;
}

/* .warning-btn { */
/*     background: yellow; */
/*     color: black; */
/* } */
/**/
/* .hidden-item { */
/*     display: none; */
/* } */


/* /* ========= Widget States ========= */

/*     background: $accent; */
/* } */
/**/
/* Button:active { */
/*     tint: white 20%; */
/* } */
/**/
/* Input:focus { */
/*     border: tall $secondary; */
/* } */


/* /* ========= Combinators (Hierarchy) ========= */
/* #header-zone>Static { */
/*     margin: 1 2 1 2; */
/* } */


/* /* DESCENDANT: Targets any Button that lives anywhere inside #main_menu */
/* #main_menu Button { */
/*     width: 100%; */
/* } */
/**/
/* DIRECT CHILD: Targets a Button only if it is a direct child of #main_menu */
/* #main_menu > Button { */
/*     margin-top: 1; */
/* } */
/**/
/* /* MULTIPLE: Targets both DataTables AND ListViews with the same rule */
/* DataTable, ListView { */
/*     scrollbar-color: gray; */
/* } */


/* /* ========= Variables ========= */
/* /* Define custom variables at the root level */
/*  Screen { */
/*     --my-custom-red: tomato; */
/*     --default-padding: 1; */
/* } */
/**/
/* /* Use them later with the $ symbol (Textual syntax) or var() function */
/* .error-text { */
/*     color: $my-custom-red; */
/*     padding: $default-padding; */
/* } */
