/* ========= Type Selectors ========= */
Screen {
    layout: vertical;
    /* border: $primary; */
    outline: double $primary;
    padding: 0 1 1 1;
}

ServerSelectionModal {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 0 0 0;
}

Button {
    border: none;
    width: 16;
    height: 1;
}

/* HeaderIcon { */
/*     width: auto; */
/* } */
/**/
/* HeaderTitle { */
/*     content-align: center middle; */
/*     text-align: center; */
/*     height: 100%; */
/* } */


/* ========= ID Selectors (id='widget_instance') ========= */

/* Header zone widgets */

#header-zone {
    height: 7;
    margin: 1 1 1 1;
}

#logo-title {
    border: round $secondary 2%;
    background: rgba(0, 0, 0, 0.1);
    border-subtitle-align: right;
    border-subtitle-color: $primary;
    border-subtitle-background: rgba(0, 0, 0, 0.1);
    border-subtitle-style: italic;
    width: 1fr;
    min-width: 38;
    margin-right: 2;
    content-align: center top;
    text-align: center;
    color: $primary;
}

#conn-status {
    text-style: bold;
    border: none;
    padding: 1;
    content-align: left middle;
    width: 1fr;
    min_width: 35;
    margin-right: 2;
}

#action-log {
    width: 2fr;
    border-title-align: left;
    border-title-color: $primary;
    border-title-background: rgba(0, 0, 0, 0.1);
    border-title-style: italic;
}

/* Main app widgets */

#main-zone {
    height: 1fr;
    margin: 1 1 1 1;
}

#loaded-models {
    width: 1fr;
    border-title-align: left;
    border-title-color: $primary;
    border-title-background: rgba(0, 0, 0, 0.1);
    border-title-style: italic;
}

#downloaded-models {
    width: 1fr;
    border-title-align: left;
    border-title-color: $primary;
    border-title-background: rgba(0, 0, 0, 0.1);
    border-title-style: italic;
}

#context-pane {
    /* background: black; */
    width: 2fr;
    border-title-align: left;
    border-title-color: $primary;
    border-title-background: rgba(0, 0, 0, 0.1);
    border-title-style: italic;
}

/* Server Selction Modal */

#modal-container {
    width: 45%;
    height: 70%;
    background: $surface;
    border: thick $primary;
    padding: 0 1 0 1;
}

#sidebar {
    width: 45%;
    height: 100%;
    border-right: solid $primary-background;
    padding: 0 1 1 1;
}

#active-server-sidebar,
#cached-ips-sidebar {
    height: 1fr;
    /* border: round $secondary; */
    /* background: black; */
}

#active-servers-list,
#cached-ips-list {
    height: 1fr;
    border: none;
    padding: 1;
    background: rgba(0, 0, 0, 0.25);
    /* outline: round $secondary; */
}

#main-action-area {
    width: 55%;
    padding: 0 1 0 2;
}

#manual-ip-input,
#scan-input {
    width: auto;
    min-width: 32;
    margin: 0 0 1 0;
    background: rgba(0, 0, 0, 0.25);
}

#connect-btn,
#default-connect-btn {
    margin: 0 1 1 1;
}

#scan-btn,
#default-network-btn {
    margin: 0 1 1 1;
}

#cancel-btn,
#bottom-btn-group {
    align: center middle;
    margin: 1 2 1 1;
}

/* #botton-btn-group { */
/*     align: right bottom; */
/* } */

/* ========= Class Selectors ========= */
.box {
    border-top: round $secondary 60%;
    border-right: round $secondary 60%;
    content-align: center middle;
    height: 100%;
    border-title-align: left;
}

.section-title {
    text-style: bold;
    color: $accent;
    /* margin-bottom: 1; */
    margin-top: 1;
}

/* .input-group { */
/*     height: 3; */
/*     margin-bottom: 2; */
/* } */

.button-group {
    height: 3;
    margin-top: 2;
}

/* /* ========= Widget States ========= */

/*     background: $accent; */
/* } */
/**/
/* Button:active { */
/*     tint: white 20%; */
/* } */
/**/
/* Input:focus { */
/*     border: tall $secondary; */
/* } */


/* /* ========= Combinators (Hierarchy) ========= */
/* #header-zone>Static { */
/*     margin: 1 2 1 2; */
/* } */


/* /* DESCENDANT: Targets any Button that lives anywhere inside #main_menu */
/* #main_menu Button { */
/*     width: 100%; */
/* } */
/**/
/* DIRECT CHILD: Targets a Button only if it is a direct child of #main_menu */
/* #main_menu > Button { */
/*     margin-top: 1; */
/* } */
/**/
/* /* MULTIPLE: Targets both DataTables AND ListViews with the same rule */
/* DataTable, ListView { */
/*     scrollbar-color: gray; */
/* } */


/* /* ========= Variables ========= */
/* /* Define custom variables at the root level */
/*  Screen { */
/*     --my-custom-red: tomato; */
/*     --default-padding: 1; */
/* } */
/**/
/* /* Use them later with the $ symbol (Textual syntax) or var() function */
/* .error-text { */
/*     color: $my-custom-red; */
/*     padding: $default-padding; */
/* } */
